/*global*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color:#f9d9a9 ;
}
a{
    text-decoration: none;
}

nav{
        display: flex;
        justify-content: space-around;
        gap: 20px;
        margin-top: 15px; 
    
}
nav a{
    color: white;
    background-color: #6d809f;
    padding: 10px;
    border-radius: 5px;
    
}
nav a:hover{
    color:#ffcc00;
}
img{
    max-width: 100%;
    border-radius: 15px;

}
/*Utility classes*/
.container{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 0 150px;
}
/*header*/
.site-header{
    background-color: #62b1ea;
    padding: 20px;
    padding-bottom: 10px;
    color: white;
}
h1{
   text-align: center;
   color: white;
}

.home-sub{
    color:#ffcc00;
    text-decoration: underline;
    display: block;
    text-align: center;
    margin-top: 15px;
}
.large-txt{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}
.ls-txt{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}
/*main*/

/*Gallery Main*/
h2{
    text-align: center;
    margin: 50px 0;
}
h3{
    padding:20px;
}
.flex-section{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.card{
    background-color: #c0a47b;
    border-radius: 10px;
    padding: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45);
}

.card h3{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.card p{
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}
/*Contact Form*/
/*Center the form to the page*/
.contact-form p{
    text-align: center;
}
.contact-form h3{
    text-align: center;
}
.page-form {
    background-color: #c0a47b;
    width: 40%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 30px;
}
.input-control{
    margin:20px;
    display: flex; 
}
.input-control label{
    width:25%;

}
.input-control input, .input-control select, .input-control textarea{
    width: 75%; 
    padding: 8px;
    border: none;
    border-radius: 10px; 
}

.form-btn{
 background-color: #62b1ea;
 padding: 10px 25px;
 border: none;
 text-transform: uppercase;
 font-size: 12px;
 border-radius: 10px;
 color: white;
 display: block;
 margin: auto; 

}
.form-btn:hover{
    background-color: #ffcc00;
    color: black;
}

/*footer*/
.site-footer{
    background-color: #62b1ea;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 333px;
    color: rgb(0, 0, 0);
}
footer a{
    color: white;
}
footer a:hover{
    color:#ffcc00;
}
